extends layouts/main
include mixins/videoPlayer
include mixins/commentBlock

block content
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl
        })
        .video__info            
            .video__info-meta
                .titleAndViews
                    h5.video__title=video.title
                    if video.views === 1
                        span.video__views 1 view
                    else 
                        span.video__views 조회수 #{video.views}회
                .editButton
                    if loggedUser && video.creator.id === loggedUser.id
                        a(href=routes.editVideo(video.id))
                            button Edit video
            .underLine
            .user-profile
                a(href=routes.userDetail(video.creator.id))
                    img.u-avatar(src=video.creator.avatarUrl)
                a(href=routes.userDetail(video.creator.id))
                    span.profile__username=video.creator.name
            p.video__description=video.description
            .underLine
            .video__comments
                span.video__comment-number
                    | 댓글 
                    span#jsCommentNumber=video.comments.length
                    | 개
                .add_comment-board
                    img.u-avatar--comment(src=loggedUser.avatarUrl)
                    .add__comment#jsAddComment
                        input.add__comment-input#jsCommentInput(type="text", placeholder="공개 댓글 추가...")
                        .underLine-comment
                        .comment-buttons#jsCommentBtns
                            button.comment-cancel 취소
                            button.comment-upload 등록
                ul.video__comments-list#jsCommentList
                    each comment in video.comments.reverse()
                        +commentBlock({
                            creator:comment.creator,
                            name:comment.creator.name,
                            avatarUrl:comment.creator.avatarUrl,
                            uploadTime:comment.uploadTime,
                            text:comment.text
                        })
                        