mixin commentBlock(comment={})
    li.commentBlock
        a(href=routes.userDetail(comment.creator.id))
            img.u-avatar--comment(src=comment.avatarUrl)
        .commentBlock-main
            .commentBlock-user
                a(href=routes.userDetail(comment.creator.id))
                    span.comment-username=comment.name
                span.comment-uploadTime=comment.uploadTime
            .commentBlock-text
                p.comment-text=comment.text