mixin videoBlock(video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=video.videoFile, controls=false)
            .videoBlock-metadata
                .videoBlock__column
                    img.u-avatar--small(src=video.creatorAvatarUrl)
                .videoBlock__column    
                    h3.videoBlock__title=video.title
                    h3.videoBlock__creator=video.creatorName
                    .viewsAndTime
                        span.videoBlock__views 조회수 #{video.views}회 
                        span.videoBlock__time=video.uploadTime